* {
    margin: 0;
    padding: 0;
    font-family: 'Anek Telugu', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

p {
    font-family: 'Anek Telugu', sans-serif;
    font-size: 1.1em;

}

footer {
    display: flex;
    height: 10vh;
}

.homepage {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 80px;
    width: 60px;
    display: inline-block;
    margin-left: 2vw;
}

.heading {
    font-size: 2em;
    font-family: Aboreto, cursive;
    display: inline-block;
    margin-top: 30px;
    margin-left: 1vw;
}

.link {
    text-decoration: none;
    color: inherit;
}

.searchbar {
    height: 3em;
    width: 60em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px solid black;
    border-radius: 2em;
    text-indent: 15px;
}

::placeholder {
    color: black;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 1.1em;

}

.items {
    display: inline-block;
    margin-top: 35px;
    margin-right: 2vw;
    word-spacing: 2em;
}

#login, #signup {
    text-decoration: none;
    font-family: Aboreto, cursive;
    font-size: x-large;
    margin-right: 1em;
    margin-left: 1em;
    color: black;
}

#cart {
    margin-right: 3em;
    height: 110%;
}

.navigation {
    display: flex;
    justify-content: center;
}

.main-menu {
    display: inline-block;
    word-spacing: 10vw;
    margin-top: 15px;
}

#about, #gallery, #marketplace, #contact {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: black;
    font-size: 1.2em;
}

#menu-content-hr {
    margin-top: 1.5em;
}

.heading-animations {
    display: flex;
    height: 100px;
    border: 1px solid grey;
}


.content {
    display: flex;
    margin: 12px;
    margin-top: 20px;
    width: 100vw;
    height: 800px;
    align-items: center;
    flex-direction: column;

}

.box {
    display: flex;
    justify-content: center;
    margin-top: 2em;

}

.boxleft {
    display: flex;
    height: 100px;
    width: 100px;
    background: rgb(128, 0, 255);
    display: flex;
}

.boxright {
    display: flex;
    height: 100px;
    width: 100px;
    background: rgb(128, 0, 255);
    display: flex;
}


#box-1-heading {
    display: flex;
    margin-top: -0.5em;
    margin-bottom: 1em;
    font-size: 1.75em;
    font-family: Montserrat, sans-serif;
}

.hr {
    display: flex;
    background-color:blueviolet;
    margin-top: -1em;
    margin-bottom: 1em;
}

.image {
    height: 512px;
    width: 512px;
    border: 0.5em solid black;
}

.caption {
    font-family: 'Anek Telugu', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-style: italic;
}






/* /signup */

.form-signup, .form-login {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 5%;
    width: fit-content;
    padding: 1em;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.signup, .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signup-heading, .login-heading {
    font-size: 16px;
    margin-bottom: 1em;
}

.signup-inputs {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 0.3em;
    margin-bottom: 1em;
    width: 100px;

}

#username, #email, #password, #confirm_password {
    margin: 0.5em;
    height: 2em;
    width: 12em;
    border: none;
    border: 1px solid;
    border-radius: 2em;
    padding-left: 1em;
}

/* Login */

.login-heading {
    font-size: 24px;
    margin-bottom: 0.5em;
    text-align: center;

}

.coming-soon {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.placeholder {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    height: 512px;
    width: 512px;
    border: 1em dashed burlywood;
}

.placeholder-border {
    display: flex;
    margin-top: 1em;
    border: 4px solid black;
    width: fit-content;
    padding: 0 1em 1em 1em;
    margin-left: auto;
    margin-right: auto;
}


/* Marketplace */

.market {
    display: flex;
    flex-direction: column;
}



.marketplace {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(230, 230, 230, 0.9);
}

.marketplace-heading {
    background: url('/static/content/design/DALL·E\ 2022-09-12\ 09.28.28\ -\ modern\ oil\ painting\ of\ a\ black\ night\ sky.jpeg');
    background-position: center;
    height: 250px;
}


.marketplace-header {
    display: flex;
    justify-content: center;
    font-family: 'Anek Telugu', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    padding: 1em;
    color: white;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.marketplace-menu {
    display: flex;
    justify-content: center;
}


.menu-style, .menu-medium {
    text-decoration: none;
    font-family: Aboreto, sans-serif;
    color: white;
    margin-left: 2em;
    margin-right: 2em;
    padding: 1em 1.5em 1em 1.5em;
    border: 0.05em solid lightgrey;
    border-radius: 0.5em;
    
}

.menu-style:hover, .menu-medium:hover {
    background-color: rgba(127, 0, 256, 0.2);
}

.wrapper {
    display: flex;
    justify-content: end;

}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item {
    display: flex;
    border: 25px solid;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23AAAAAA' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 30;
    width: 23em;
    height: 23em;
    margin: 2em;
    margin-top: 0;

}

.item-link {
    display: flex;
    margin-left: -0.09em;
}

.break {
    flex-basis: 0%;
    height: 10px;
}

.item-image {
    display: flex;
    width: 23.35em;
    height: 23.4em;
    margin-top: -0.1em;
    border: 2px solid black;
}

/* Item page */

.item-heading {
    display: flex;
    margin-bottom: 15em;
    justify-content: center;
}

.item-display {
    display: flex;
    height: 512px;
    width: 512px;
    margin-top: 7em;
    margin-left: 3em;
    border: 10px solid white;
}

.item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5em;
    margin-top: 25em;
    color: white;
}

.item-info-h1 {
    display: flex;
    font-size: 3em;
    font-weight: 400;
}

.item-info-price-canvas {
    display: none;

}

.item-info-price-digital {
    display: none;

}

.item-info-hr {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.item-info-type {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

.item-info-select {
    height: 3em;
    width: 30em;
    border-radius: 2em;
    text-indent: 2em;
    font-size: 1em;
}

.item-cart {
    display: flex;
    margin-top: 6em;


}

.item-cart-button {
    height: 4em;
    width: 25em;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    border: none;
    border-radius: 3em;
    font-size: 24px;

}

.item-cart-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);


}





/* Contact */

.form-contact {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    border: 2px solid black;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.contact-heading {
    margin-bottom: 0.5em;
    font-size: 36px;
    text-align: center;
}

.contact-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name, #email {
    margin: 1em;
    height: 2em;
    width: 12em;
    border: none;
    border: 1px solid;
    border-radius: 2em;
    padding-left: 1em;
}

#message {
    margin: 1em;
    height: 10em;
    width: 24em;
    border: none;
    border: 1px solid;
    border-radius: 2em;
    padding-left: 1em;
}

#message::placeholder {
    display: flex;
    text-align: center;
}

.contact-submit {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    margin-top: 1em;
}


