<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>The DALL·Express Gallery of Art</title>
</head>
<body>
<section class="homepage">
    <section class="homepage logo-heading">
        <img class="homepage logo" src="/content/design/logo_homepage.png" alt="DALL·Express Logo">
        <h1 class="homepage heading">Dega</h1>
    </section>
    <nav class="nav login">
        <ul>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</section>
<section class="navigation">
    <nav class="navigaion main">
        <ul>
            <li>
                <a href="/about">About</a>
                <a href="/gallery">Gallery</a>
                <a href="/marketplace">Marketplace</a>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>

</section>


    
    <script src="/static/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>