<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %} The DALL·Express Gallery of Art {% endblock %} </title>
</head>
<body>
<section class="homepage">

    <section class="homepage logo-heading">
        <img class="homepage logo" src="/static/content/design/logo_homepage.png" alt="DALL·Express Logo" style="width:100%">
        <a class="homepage link" href="/"><h1 class="homepage heading">·Dega·</h1></a>
    </section>

    <section class="navigation">

        <nav class="navigation main">
            <ul class="navigation-main-ul">
                <li class="navigation main main-menu">
                    <a id="about" href="/about">About</a>
                    <a id="marketplace" href="/marketplace">Marketplace</a>
                    <a id="contact" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    
    </section>

    {% if 'user_id' in session %}
    <nav class="nav login">
        <ul class="nav login menu">
            <li class="nav login menu items">
                <a id="cart" href="/cart"><img src="/static/content/icons/icons8-shopping-cart-30.png" alt=""></a>
                <a id="signup" href="/u/{{user.username}}">{{user.username}}</a>
                <a id="login" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    {% endif %}

    {% if 'user_id' not in session %}
    <nav class="nav login">
        <ul class="nav login menu">
            <li class="nav login menu items">
                <a id="cart" href="/cart"><img src="/static/content/icons/icons8-shopping-cart-30.png" alt=""></a>
                <a id="login" href="/login">Login</a>
                <a id="signup" href="/signup">Signup</a>
            </li>
        </ul>
    </nav>
    {% endif %}

</section>

<hr id="menu-content-hr">


{% block content %}

<div class="maincontent">
<section class="content">
    <h2 id="box-1-heading">Welcome to the DALL·Express Gallery of Art</h2>
    <div class="box">
        {% for photo in photos %}
            {% if loop.index % 2 == 0 %}
            <a href="/marketplace/{{photo.id}}"><div class="boxleft" style="background: url('/static/content/gallery-images/{{photo.image}}'); background-size: cover;"></div></a>
            {% endif %}
            {% if loop.index % 2 != 0 %}
            <a href="/marketplace/{{photo.id}}"><div class="boxright" style="background: url('/static/content/gallery-images/{{photo.image}}'); background-size: cover"></div></a>
            {% endif %}
        {% endfor %}
    </div>
    <h3 id="box-1-description">The first online marketplace exclusively devoted to artwork created by DALL·E 2</h3>
</section>

<section class="new-arrivals">
    <h3 class="header">Newest Art</h3>
    <div class="images">
        {% for arrival in arrivals %}
        <a class="link" href="/marketplace/{{arrival.id}}"><img class="image" src="/static/content/gallery-images/{{arrival.image}}" alt=""></a>

        {% endfor %}

    </div>

</section>
</div>



{% endblock %}

<footer>
    <div class="footer">
        <p class="flask">Powered by Flask</p>
        <p class="copyright">©2022, DALL·Express Gallery of Art</p>
        <p class="notice">DEGA is not affiliated with or sponsored by OpenAI</p>
    </div>

   
</footer>

    
    <script src="/static/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.1/gsap.min.js"></script>
</body>
</html>

<!--<div class="box">
        <div class="boxleft" style="background: url('/static/content/gallery-images/DALL·E\ 2022-08-27\ 11.10.12\ -\ Atlantis\ by\ Salvador\ Dali.png'); background-size: cover;"></div>
        <div class="boxleft" style="background: url('/static/content/gallery-images/DALL·E\ 2022-08-27\ 11.10.19\ -\ Renaissance\ Cubism.png'); background-size: cover;"></div>
        <div class="boxleft" style="background: url('/static/content/gallery-images/DALL·E\ 2022-08-27\ 11.10.31\ -\ The\ Metro\,\ abstract\ oil\ on\ canvas.png'); background-size: cover;"></div>
        <div class="boxleft" style="background: url('/static/content/gallery-images/DALL·E\ 2022-09-05\ 08.48.06\ -\ Nocturne\,\ oil\ on\ canvas.png'); background-size: cover;"></div>
        <div class="boxleft" style="background: url('/static/content/gallery-images/DALL·E\ 2022-09-05\ 08.47.58\ -\ Reflets\ dans\ l\'eau\,\ oil.png'); background-size: cover;"></div>
        <div class="boxright" style="background: url('/static/content/gallery-images/DALL·E\ 2022-09-05\ 08.46.59\ -\ The\ weeping\ willow\ tree\,\ oil\ on\ canvas.png'); background-size: cover;"></div>
        <div class="boxright" style="background: url('/static/content/gallery-images/DALL·E\ 2022-09-05\ 08.46.18\ -\ Fantasy\ art\ of\ a\ tropical\ island.png'); background-size: cover;"></div>
        <div class="boxright" style="background: url('/static/content/gallery-images/DALL·E\ 2022-08-27\ 11.11.51\ -\ The\ withering\ of\ the\ boughs\,\ oil\ on\ canvas.png'); background-size: cover;"></div>
        <div class="boxright" style="background: url('/static/content/gallery-images/DALL·E\ 2022-09-05\ 08.46.49\ -\ Surrealist\ painting\ of\ a\ grand\ piano.png'); background-size: cover;"></div>
        <div class="boxright" style="background: url('/static/content/gallery-images/DALL·E\ 2022-09-05\ 08.45.36\ -\ pastel\ painting\ of\ a\ bouquet\ of\ flowers.png'); background-size: cover;"></div>
    </div>-->