{% extends 'index.html' %}

{% block content %}
<section class="market">

<section class="marketplace-heading">

<h1 class="marketplace-header">All Artwork</h1>

<nav class="marketplace-menu">
    <a class="menu-style" href="/">Style</a>
    <a class="menu-medium" href="/">Medium</a>

</nav>
</section>


<section class="marketplace">

<section class="marketplace items">
{% for item in items %}

    <section class="marketplace item">
        <a class="item-link" href="/marketplace/{{item.id}}"><img class="marketplace item-image" src="/static/content/gallery-images/{{item.image}}" alt=""></a>
    </section>
    {% if loop.index % 3 == 0 %} 
    <div class="break"></div>
    {% endif %}

{% endfor %}
</section>
</section>
</section>
{% endblock %}