{% extends 'index.html' %}

{% block content %}
<section class="market">

<section class="marketplace-heading">

<h1 class="marketplace-header"><a class="marketplace-header-link" href="/marketplace">All Artwork</a></h1>

<nav class="marketplace-menu">
    <div class="menu-style">
        <button class="menu-dropdown">Style
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-dropdown-content">
            <a href="/marketplace/style/modern">Modern</a>
            <a href="/marketplace/style/renaissance">Renaissance</a>
            <a href="/marketplace/style/postmodern">Postmodern</a>
            <a href="/marketplace/style/surrealist">Surrealist</a>
        </div>
    </div>
    <div class="menu-medium">
        <button class="menu-dropdown">Medium             
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="menu-dropdown-content">
            <a href="/marketplace/medium/oil">Oil</a>
            <a href="/marketplace/medium/pastel">Pastel</a>
            <a href="/marketplace/medium/digital">Digital Art</a>
        </div>
    </div>

</nav>
</section>


<section class="marketplace">

<section class="marketplace items">
{% for item in items %}

    <section class="marketplace item">
        <a class="item-link" href="/marketplace/{{item.id}}"><img class="marketplace item-image" src="/static/content/gallery-images/{{item.image}}" alt=""></a>
    </section>
    {% if loop.index % 3 == 0 %} 
    <div class="break"></div>
    {% endif %}

{% endfor %}
</section>
</section>
</section>
{% endblock %}